- expanded = integration_expanded?('jira_connect')

%section.settings.no-animate#js-jira_connect-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('JiraConnect|GitLab for Jira App')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('JiraConnect|Configure your Jira Connect Application ID.')
      = link_to sprite_icon('question-o'), 'https://marketplace.atlassian.com/apps/1221011/gitlab-com-for-jira-cloud', target: '_blank', rel: "noopener noreferrer", class: 'has-tooltip', title: _('More information'), aria: { label: _('GitLab for Jira Cloud') }

  .settings-content
    = gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-jira-connect-application-id-settings'), html: { class: 'fieldset-form', id: 'jira-connect-application-id-settings' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          = f.label :jira_connect_application_key, s_('JiraConnect|Jira Connect Application ID'), class: 'label-bold'
          = f.text_field :jira_connect_application_key, class: 'form-control gl-form-input'
      = f.submit _('Save changes'), class: 'gl-button btn btn-confirm'
